In [1]:
import pandas as pd
dataset=pd.read_csv("train.csv")
dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
884,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
885,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
886,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,45.0,1,2,W./C. 6607,23.4500,NaN,S
887,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
888,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [2]:
dataset.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [3]:
dataset.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [4]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [5]:
le=preprocessing.LabelEncoder()
em=preprocessing.LabelEncoder()

In [6]:
le.fit(dataset["Sex"])
em.fit(dataset["Embarked"])

LabelEncoder()

In [7]:
print(le.classes_,em.classes_)

['female' 'male'] ['C' 'Q' 'S']

In [8]:
dataset["Sex"]=le.transform(dataset["Sex"])
dataset["Embarked"]=em.transform(dataset["Embarked"])

In [9]:
y=dataset["Pclass"]

In [10]:
X=dataset.drop(["PassengerId","Ticket","Name","Cabin"],axis=1)

In [11]:
y.count()

889

In [12]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [13]:
X_train.head()

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
350         0       1    1  45.0      0      0  35.0000         2
124         1       3    1  12.0      1      0  11.2417         0
577         0       3    0  45.0      1      0  14.4583         0
422         0       3    0  28.0      1      1  14.4000         2
118         0       3    0   2.0      4      2  31.2750         2

In [14]:
X_train.shape

(622, 8)

In [15]:
y_train.shape

(622,)

In [16]:
X_test.shape

(267, 8)

In [17]:
y_test.shape

(267,)

In [18]:
from sklearn.naive_bayes import *
clf=BernoulliNB()

In [19]:
y_pred=clf.fit(X_train,y_train).predict(X_test)

In [20]:
accuracy_score(y_test,y_pred,normalize=True)

0.5917602996254682

In [21]:
confusion_matrix(y_test,y_pred)

array([[ 30,   8,  32],
       [  9,  10,  30],
       [ 24,   6, 118]], dtype=int64)

In [22]:
data=pd.read_csv("train.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [23]:
data=data.drop(["PassengerId","Name","Ticket","Cabin"],axis=1)

In [24]:
le=preprocessing.LabelEncoder()

In [25]:
data["Sex"]=le.fit_transform(data["Sex"])
data["Embarked"]=le.fit_transform(data["Embarked"])

In [37]:
def navmodel(col):
    a=data.drop([col],axis=1)
    b=data[col]
    train_a,test_a,train_b,test_b=train_test_split(a,b,test_size=0.2,random_state=0)
    model=GaussianNB()
    model.fit(train_a,train_b)
    ypred=model.predict(test_a)
    print("==================================================================")
    print(f"Accuracy score is {accuracy_score(test_b,ypred)}")
    print("==================================================================")
    print(f"Confusion matrix:\n{confusion_matrix(test_b,ypred)}")
    print("==================================================================")

In [38]:
navmodel('Pclass')

==================================================================
Accuracy score is 0.7078651685393258
==================================================================
Confusion matrix:
[[34  9  4]
 [ 4 16 15]
 [ 5 15 76]]
==================================================================

In [39]:
navmodel('SibSp')

==================================================================
Accuracy score is 0.601123595505618
==================================================================
Confusion matrix:
[[94  5  1 23  1  0  0]
 [19  5  0 15  1  0  0]
 [ 3  1  0  0  0  0  0]
 [ 0  0  0  4  2  0  0]
 [ 0  0  0  0  1  0  0]
 [ 0  0  0  0  0  1  0]
 [ 0  0  0  0  0  0  2]]
==================================================================

In [40]:
navmodel('Sex')

==================================================================
Accuracy score is 0.7134831460674157
==================================================================
Confusion matrix:
[[38 25]
 [26 89]]
==================================================================

In [41]:
navmodel('Parch')

==================================================================
Accuracy score is 0.6179775280898876
==================================================================
Confusion matrix:
[[100   8   0  18   7]
 [  9   3   0   8   3]
 [  4   3   7   4   2]
 [  0   0   0   0   1]
 [  0   0   0   1   0]]
==================================================================

In [42]:
navmodel('Embarked')

==================================================================
Accuracy score is 0.651685393258427
==================================================================
Confusion matrix:
[[12  5 13]
 [ 0  8  8]
 [16 20 96]]
==================================================================