1.Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google

In [7]:
def getname(s):
    try:
        return s.replace("@",".").split(".")[1]
    except:
        print("something wrong")
getname(input("email adress is="))

email adress is=chai@facebook.com

'facebook'

2.Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [28]:
names=input("enter sequence of words ")
words=list(map(lambda x:x,names.split(',')))
words.sort()
print("sorted sequence of words are: ", ','.join(words))

enter sequence of words zebra,rabbit,apple,orange,cat
sorted sequence of words are:  apple,cat,orange,rabbit,zebra

# 3.SETS
A set is an unordered collection data type that is iterable,mutable and has no duplicate elements.

In [60]:
myset={1,2,3,4,5,5,"abc","chai","vinu"}
print(myset)
type(myset)

{1, 2, 3, 4, 5, 'abc', 'chai', 'vinu'}

set

In [61]:
myset.add("ganesha")
print(myset)
a=myset.copy()
print(a)
print(myset.pop())
print(myset)
myset.remove(4)
print(myset)
myset.update()
print(myset)
myset.clear()
print(myset)

{1, 2, 3, 4, 5, 'abc', 'chai', 'vinu', 'ganesha'}
{1, 2, 3, 4, 5, 'abc', 'chai', 'vinu', 'ganesha'}
1
{2, 3, 4, 5, 'abc', 'chai', 'vinu', 'ganesha'}
{2, 3, 5, 'abc', 'chai', 'vinu', 'ganesha'}
{2, 3, 5, 'abc', 'chai', 'vinu', 'ganesha'}
set()

In [12]:
s1={1,2,3,4,"chai","naveen"}
s2={3,4,"chai"}
s1=s1.difference(s2)
s2=s2.difference(s1)
print(s1)
print(s2)
s1.difference_update(s2)
print(s1)
s1.discard(1)
print(s1)

{1, 2, 'naveen'}
{3, 4, 'chai'}
{1, 2, 'naveen'}
{2, 'naveen'}

In [14]:
s1={1,2,3,4,5}
s2={2,3,4,8}
a=s1.isdisjoint(s2)
print(a)

False

In [15]:
s1={1,2,3,4}
s2={5,6,7,8}
b=s1.isdisjoint(s2)
print(b)

True

In [17]:
s1={"chai",5,6,7,"navi"}
s2={5,6,7}
print(s1.issubset(s2))
print(s2.issubset(s1))

False
True

In [20]:
s1={2,3,4,"hat","chocolate",5,8}
s2={2,3,4,"hat"}
print(s1.issuperset(s2))
print(s2.issuperset(s1))

True
False

4.Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [43]:
lst=[1,2,3,5,6,7,8,9]
for i in range(1,lst[-1]+1):
    if i not in lst:
        print("the missing number is:",i)

the missing number is: 4

5.With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input: 12 24 35 24
Output:
12 24 35

In [10]:
duplicate=[1,2,3,3,4,5,4,6,7,8,6]
print(list(set(duplicate)))

[1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
def Remove(duplicate): 
    final_list = [] 
    for num in duplicate: 
        if num not in final_list: 
            final_list.append(num) 
    return final_list 
duplicate = [12,24,35,24,56,78,56] 
print(Remove(duplicate))

[12, 24, 35, 56, 78]