# logistic regression

# logistic regresssion for Bank Personal Loan Modelling dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name=1)
data.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [3]:
data.shape

(5000, 14)

In [4]:
import statsmodels.api as sm

In [5]:
y=pd.DataFrame(data["Personal Loan"],columns=["Personal Loan"])

In [6]:
x=data.drop(["Personal Loan"],axis=1)

In [7]:
X1=sm.add_constant(x)

In [8]:
logistic=sm.Logit(y,X1)

In [9]:
result=logistic.fit()

Optimization terminated successfully.
         Current function value: 0.128331
         Iterations 9

In [10]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Personal Loan   No. Observations:                 5000
Model:                          Logit   Df Residuals:                     4986
Method:                           MLE   Df Model:                           13
Date:                Thu, 13 Aug 2020   Pseudo R-squ.:                  0.5942
Time:                        18:13:38   Log-Likelihood:                -641.65
converged:                       True   LL-Null:                       -1581.0
Covariance Type:            nonrobust   LLR p-value:                     0.000
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                -11.7179      4.115     -2.847      0.004     -19.784      -3.652
ID                  -5.23e-05   5.14e-05     -1.017      0.309      -0.000    4.85e-05
Age                   -0.0538      0.061     -0.877      0.380      -0.174       0.066
Experience             0.0639      0.061      1.048      0.295      -0.056       0.183
Income                 0.0547      0.003     20.820      0.000       0.050       0.060
ZIP Code           -3.743e-06   4.07e-05     -0.092      0.927   -8.35e-05    7.61e-05
Family                 0.6952      0.074      9.353      0.000       0.549       0.841
CCAvg                  0.1218      0.040      3.070      0.002       0.044       0.200
Education              1.7404      0.115     15.098      0.000       1.514       1.966
Mortgage               0.0005      0.001      0.836      0.403      -0.001       0.002
Securities Account    -0.9453      0.286     -3.305      0.001      -1.506      -0.385
CD Account             3.8232      0.324     11.791      0.000       3.188       4.459
Online                -0.6717      0.157     -4.272      0.000      -0.980      -0.364
CreditCard            -1.1136      0.205     -5.430      0.000      -1.516      -0.712
======================================================================================
"""